dnspython==2.4.2
geoip2==4.7.0
lifelines==0.27.8
matplotlib==3.8.0
maxminddb==2.4.0
pandas==2.1.1
scipy==1.11.3
# jupyterlite stuff
jupyterlite-core>=0.4.1
# the Python kernel powered by Pyodide
jupyterlite-pyodide-kernel==0.0.5
# dependency for indexing the content
jupyterlab~=4.2.5
